@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply text-stone-100;
    @apply bg-gradient-to-t from-stone-950 to-stone-900;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

html,
body {
  margin: 0;
  height: 100%;
}

#__next {
  height: 100%;
}
